html {
    background-color: rgb(24, 24, 24);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 500px;
    box-shadow: 3px 3px 3px rgb(105, 104, 104);
}

strong {
    color: burlywood;
}

p {
    color: white;
}

h1,
h2 {
    margin: 0;
    padding: 20px 0;
    color: burlywood;
    text-shadow: 3px 3px 1px black;
  }

body {
    margin: auto 10% auto 10%;
    background-color: #363636;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

a:visited {
    color: beige;
}
ul {
    border: black;
}


li {
    list-style: square; 
    color: rgb(240, 204, 0);
    text-align: justify;
    width: 900px;
}

ul li p {
    color: aqua;
}
#note {
    color: rgb(244, 220, 245);
}

button {
    background-color: antiquewhite;
    border: 3px solid bisque
}
/* Descriptive lists */
dl {
    color: white;
}

dt {
    color: burlywood;
    margin-top: 10px;
    margin-bottom: 10px;
}